<html>
<head>
  <title>Justin</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/app.css">

 <script type="text/javascript" src="/static/js/jquery.js"></script>
 <script type="text/javascript" src="/static/js/jquery.validate.js"></script>
 <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
 <script type="text/javascript" src="/static/js/app.js"></script>

</head>
<body>

  <section class='container' id='container'>
    <header>
      <h1>West Coast Economics 2012</h1>

      <p id='who'>We are a group of students from the Montessori High School in Cleveland, Ohio. We love technology, businesses, startups, and entrepreneurship.</p>
    </header>

    <section id='content'>
      <section id='countdown'>
        <section id='us'>
          <img src="http://placehold.it/960x400" alt="">
        </section>

        <section id='lineup-section'>
          <ul id='lineup'>
          <h1>The Lineup</h1>
            <li><a href="http://nest.com">Nest Labs</a></li>
            <li><a href="http://likeness.com">Likeness</a></li>
            <li><a href="http://peel.com">Peel</a></li>
            <li><a href="http://speck.com">Speck</a></li>
            <li><a href="http://square.com">Square</a></li>
            <li><a href="http://tchochocolate.com">TCHO Chocolate</a></li>
          </ul>
        </section>

        <section id='the-pitch'>
          <p>Last year we went to New York, and visited companies like Union Square Ventures and Stack Overflow. This year we're planning an X-Term to San Francisco, and we've scheduled meetings with companies like Peel, Nest and Square.</p>

          <p>X-Terms are two-week intensive classes. They're meant to focus on the student's interests. X-Terms are entirely student-planned and fundraised. We even have to pay for the teachers to come with us.</p>


          <p>We've been raising money all year, but we're still not there yet.</p>
        </section>



        <section id='tick'>
          {% from locale import currency, setlocale %}

          <h1>We need $4,000 dollars to get there.</h1>
        </section>
      </section>

      <section id='the-pitch'>
        <h1>We Need Your Help Before May 1</h1>

        <p class='wedge'>If you'd rather donate with cash or check, send an email to <a href='mailto:jwoodbridge@me.com'>jwoodbridge@me.com</a></p>

        <div class='payment-errors'>
          <p></p>
        </div>

        <form action="/payments" id='payments' method='post'>

          <div class='block halfsie'>
            <label for="name">Your Name</label>
            <input type='text' style='width: 300px;' id='name-field' name='name' class='name'/>
          </div>

          <div class='block halfsie'>
            <label for="name">Email</label>
    <input type='text' style='width: 300px;' id='name-field' name='email' class='email'/>
          </div>


          <div class='block halfsie'>
            <label for="amount">Amount</label>
            <span id='dollar'>$</span><input type='text' id='amount-field' size='3' name='amount'/>
          </div>

          <div class='block halfsie'>
            <label for="amount">Card Number</label>
            <input type='text' style='width: 300px;' class='card-number'/>
          </div>

          <div class='block halfsie'>
            <label for="amount" class='card-number'>CCV</label>
            <input type='text' class='card-cvc' style='width: 100px;'/>
          </div>

         <label>Expiration (MM/YYYY)</label>

            <select class="card-expiry-month stripe-sensitive required">
            </select>
            <script type="text/javascript">
              var select = $(".card-expiry-month"),
                  month = new Date().getMonth() + 1;
              for (var i = 1; i <= 12; i++) {
                  select.append($("<option value='"+i+"' "+(month === i ? "selected" : "")+">"+i+"</option>"))
              }
             </script>
            <span id='gap'> / </span>
            <select class="card-expiry-year stripe-sensitive required"></select>
            <script type="text/javascript">
                var select = $(".card-expiry-year"),
                year = new Date().getFullYear();

                for (var i = 0; i < 12; i++) {
                  select.append($("<option value='"+(i + year)+"' "+(i === 0 ? "selected" : "")+">"+(i + year)+"</option>"))
                }
            </script>
          <button class='submit-button'>Donate</button>

        </form>

      </section>

      <section id='support'>
        <h1>Companies That Support Us</h1>
      </section>

    </section>

    <footer>
    <p id='yo' style='font-size: 30px; text-align: center;'>We appreciate your support.</p>
  <p style='font-size: 30px; text-align: center;'>- Justin, Joe, Brandon, Courtney, Felix, and Sam</p>

      <p id='link'><a href='/stack'>Want to know how this site runs?</a></p>
    </footer>
  </section>

</body>
</html>