<html>
<head>
  <title>Justin</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/app.css">

 <script type="text/javascript" src="/static/js/jquery.js"></script>
 <script type="text/javascript" src="https://js.stripe.com/v1/"></script>

</head>
<body>
  <div id='container' class='container'>
    <h1>Thank you so much, {{ person.name }}!</h1>
    <p>We received your donation and it will go to good use.  Questions?  Send them to <a href='#'>jwoodbridge@me.com</a></p>
  </div>
</body>
</html>