<html>
<head>
  <title>The Tech Stack</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/app.css">

 <script type="text/javascript" src="/static/js/jquery.js"></script>

</head>
<body>
  <div id='container' class='container'>
    <h1>The Tech Stack</h1>
    <p>For the voyeurs out there.</p>

    <section id='staaack' style='margin-top: 50px;'>
      <h2>The Stack</h2>

      <p style='margin-bottom: 40px;'>This thing is written in python and hosted on my trusty linode vps.</p>

      <ul>
        <li><a href="http://tornadoweb.org">Tornado</a> - The web framework / server.</li>
        <li><a href="http://sqlalchemy.org">sqlalchemy</a> - Database toolkit</li>
        <li><a href="http://stripe.com">Stripe</a> - Best payment processing ever.</li>
        <li><a href="http://jquery.com">jQuery</a> - What else?</li>
        <li><a href="http://jquery.com">jQuery Validate</a> - Client-Side Validation</li>
      </ul>
    </section>

    <p>Thanks.  Go back home? <a href='/'>♥</a></p>
  </div>
</body>
</html>